<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cykj.mapper.PrincipalsMapper">
<!--    职工-->
    <select id="countStaff" resultType="Integer">
            select count(*) from t_staff where 1=1 and state!=103
        <if test="condition!=null and condition.size()>0">
            and name like #{condition.name}
        </if>
    </select>

    <select id="findStaffAll" resultType="com.cykj.pojo.TStaff">
        select * from t_staff where 1=1 and state!=103
        <if test="condition!=null and condition.size()>0">
            and name like #{condition.name}
        </if>
        order by createTime desc
        limit #{pages},#{limits}
    </select>

    <update id="deleteStaff">
        update t_staff set state=103 where id=#{id}
    </update>

    <update id="updateStaffState">
        update t_staff set state=#{stateId} where id=#{id}
    </update>

    <insert id="insertStaff">
        insert into t_staff (account, password, name, parkId, education, age, sex, role, createTime, state )
        value (#{staff.account},123456,#{staff.name},#{staff.parkId},#{staff.education},#{staff.age},
       #{staff.sex},#{staff.role}, now(),101);
    </insert>

    <update id="updateStaffRole">
        update t_staff set role=#{role} where id=#{id}
    </update>

<!--    资格申请-->
    <insert id="examination">
        update t_kindergarten set kindergartenName=#{tk.kindergartenName} ,corporationName=#{tk.corporationName} , creditId=#{tk.creditId} ,
        address=#{tk.address} , tel=#{tk.tel} , schoolLicense=#{tk.schoolLicense} ,sanitationLicense=#{tk.sanitationLicense} ,
        fireLicense=#{tk.fireLicense} , organizationCodeLicense=#{tk.organizationCodeLicense} ,TaxRegistrationTaxRegistration=#{tk.taxRegistrationTaxRegistration} ,
        registeredCapital=#{tk.registeredCapital} , applyTime = now() ,approvalState=105, state=101
        where id=#{tk.id}
    </insert>

<!--    宝宝信息-->
    <select id="countBaby" resultType="Integer">
        select count(*) from t_baby where 1=1 and state!=103
        <if test="condition!=null and condition.size()>0">
            and name like #{condition.name}
        </if>

    </select>

    <select id="findBabyAll" resultType="com.cykj.pojo.TBaby">
        select * from t_baby where 1=1 and state!=103
        <if test="condition.name!=null and condition.size()>0">
            and name like #{condition.name}
        </if>
        order by createTime desc limit 0,20;
    </select>

</mapper>
